<app-header></app-header>
<p>
  project works!
</p>

<div class="wrapper">
  <div class="col-md-2 col-lg-2"></div>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <table class = "table table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th class="col-md-4">Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let i of projects;let j = index">
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.startdate |  date}}</td>
        <td>{{i.enddate | date}}</td>
        <td><button type="button" class="btn btn-success btn-sm" (click)="editProject(i.id)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
          <button type="button" class="btn btn-primary btn-sm" (click)="viewProject(i.id)">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>

          <button type="button" class="btn btn-danger btn-sm" (click)="deleteModel.show()">
            <span class="glyphicon glyphicon-remove"></span>
          </button></td>
        <div bsModal #deleteModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title pull-left">Delete Conformation</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModel.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure that you want to delete <strong>{{i.name}}</strong>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteProject(i.id)">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteModel.hide()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </tr>
      </tbody>

    </table>
  </div>
</div>
