<app-header></app-header>
<div class="wrapper">
  <h2 class="text-primary text-center"><strong>View Resource</strong></h2>
  <div class="col-md-2 col-lg-2"></div>
  <div class="col-md-8 col-lg-8 col-sm-12">
      <div class="form-group row">
        <div class="col-md-8 col-lg-8">
          <label> <h4><strong>First Name :</strong></h4></label>
        </div>
        <div class="col-md-2 col-lg-2">
          <label> <h4>{{resource[0].fistname}}hello</h4></label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-8 col-lg-8">
          <label> <h4>Last Name:</h4></label>
        </div>
        <div class="col-md-2 col-lg-2">
          <label> <h4>{{resource[0].lastname}}</h4></label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-8 col-lg-8">
          <label> <h4>Email</h4></label>
        </div>
        <div class="col-md-2 col-lg-2">
          <label> <h4>{{resource[0].email}}</h4></label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-8 col-lg-8">
          <label> <h4>Date of Birth</h4></label>
        </div>
        <div class="col-md-2 col-lg-2">
          <label> <h4>{{resource[0].dob | date}}</h4></label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-8 col-lg-8">
          <label> <h4>Joined Date</h4></label>
        </div>
        <div class="col-md-2 col-lg-2">
          <label> <h4>{{resource[0].joindate | date}}</h4></label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-8 col-lg-8">
          <label> <h4>Termination Date</h4></label>
        </div>
        <div class="col-md-2 col-lg-2">
          <label> <h4>{{resource[0].termdate | date}}</h4></label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-8 col-lg-8">
          <label> <h4>Role</h4></label>
        </div>
        <div class="col-md-2 col-lg-2">
          <label> <h4>{{resource[0].role}}</h4></label>
          <!--<input type="number" class="form-control" value="{{edit_p_id}}" name="edit_productid" [(ngModel)]="edit_p_id" disabled="disabled">-->
        </div>
      </div>

    <div class="col-md-1 pull-right">
      <button class="btn btn-primary pull-right" (click)="editPage()">Edit</button>
    </div>
    <div class="col-md-1 pull-right">
      <button class="btn btn-success pull-right" (click)="ResourcePage()">Ok</button>
    </div>
  </div>
</div>
