<!--<div class="jumbotron">
  <div class="span12">
    &lt;!&ndash;<a [routerLink]="['/list-product']">&ndash;&gt;
    <h1 class="text-center text-primary"><strong>TIME SHEET MANAGEMENT SYSTEM</strong></h1>
  </div>
</div>-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/home']"><h4><strong>Time Sheet Management System</strong></h4></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a [routerLink]="['/project']" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-folder-open lg"></span> Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/project/create']">Create Project</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a [routerLink]="['/resource']" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user lg"></span> Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/resource/create']">Create Resource</a></li>

          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
